<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sentiment Analysis analyzes texts and detects their confidence, subjectivity, emotional agreement , irony and Score Tag.</title>
</head>

<body>
<div id="page">
    <header>
        <h1>Sentiment Analysis analyzes texts and detects their confidence, subjectivity, emotional agreement , irony and Score Tag.</h1>
    </header>
    <main id="main">
        <div id="error"></div>
        <section id="form">
            <input id="url" type="text" name="url" value="" placeholder="Add URL here">
            <button id="submit" type="submit">Submit</button>
        </section>
        <section id="results"></section>
    </main>
</div>
</body>
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker
                .register('/service-workers.js')
        });
    }
</script>
</html>
